body {
    margin: 0;
}

#header {
    font-size: 200%;
    background-color: #000000;
    color: #83ADC4;
    font-family: georgia, serif;
    padding: 13px 13px 13px 13px;
    text-align: left;
}

#subheader {
    font-size: 90%;
    background-color: #2E383E;
    color: #4CB2EA;
    font-style: italic;
    padding: 5px 5px 5px 5px;
}

#menu {
    width: 180px; 
    position: relative; 
    float: left; 
    text-align: center;
}

.menuitem {
    width: auto;
    display: block;
}

a.menuitem {
    font-size: 80%;
    background-color: #1A597C;
    color: #4CB2EA;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

a.menuitem:hover {
    background-color: #4CB2EA;
    color: #1A597C;
}

.content {
    margin-left: 185px;
    width: auto;
}

.rowheader {
    font-family: monospace;
}

.rowdata {
    font-family: monospace;
}

a.rowdata {
    color: #000000;
    background-color: transparent;
}

.rowdatacenter {
    text-align: center;
    font-family: monospace;
 }

.rownone {
    background-color: #FFFFFF;
    color: #000000;
}

.rowqueued {
    background-color: #4CB2EA;
    color: #1A597C;
}

.rowviewed {
    background-color: #1A597C;
    color: #4CB2EA;
}

#login {
    margin-left: auto;
    margin-right: auto;
}

.error {
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    color: red;
}

a.generic {
    background-color: transparent;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: palatino, serif;
}

.footer {
    font-size: 11px;
    background-color: #2E383E;
    color: #4CB2EA;
    padding: 5px 5px 5px 5px;
    text-align: right;
}

a.footer {
    text-decoration: none;
}
