/*body {
    margin: 0px 0px 0px 0px;
}*/

.menu {
    float: left;
    /*margin-right: 15px;
    padding-bottom: 20px;*/
    /*border-style: solid;*/
}

.menuitem {
    text-decoration: none;
 }
 
.menuitem:hover {
    text-decoration: underline;
}

.username {
    text-align: center;
    font-weight: bold;
}

.login {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.tabledata {
    margin-left: 2em;
    margin-right: auto;
    /*border-style: solid;*/
}

.rowdata {
    padding-left: 1em;
    padding-right: 1em;
}

.rowdatacenter {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center
 }

.tablebutton {
    float: right;
}