<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <description>Program Guide</description>
  <welcome-file-list>
      <welcome-file>DisplayFrontPage.do</welcome-file>
  </welcome-file-list>
  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/program_guide</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
      <listener-class>
          net.six_two.program_guide.ContextListener
      </listener-class>
  </listener>
  <servlet>
      <servlet-name>FetchEpisodes</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.FetchEpisodesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>FetchEpisodes</servlet-name>
      <url-pattern>/FetchEpisodes.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetLog</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.GetLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetLog</servlet-name>
      <url-pattern>/GetLog.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetLogEntry</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.GetLogEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetLogEntry</servlet-name>
      <url-pattern>/GetLogEntry.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminPrograms</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.AdminProgramsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AdminPrograms</servlet-name>
      <url-pattern>/AdminPrograms.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>AdminUsers</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.AdminUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AdminUsers</servlet-name>
      <url-pattern>/AdminUsers.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>DeleteLog</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.DeleteLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DeleteLog</servlet-name>
      <url-pattern>/DeleteLog.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>DeleteProgram</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.DeleteProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DeleteProgram</servlet-name>
      <url-pattern>/DeleteProgram.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>DeleteUser</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DeleteUser</servlet-name>
      <url-pattern>/DeleteUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>DisplayFrontPage</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.DisplayFrontPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DisplayFrontPage</servlet-name>
      <url-pattern>/DisplayFrontPage.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetUserPrograms</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.GetUserProgramsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetUserPrograms</servlet-name>
      <url-pattern>/GetUserPrograms.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetUserEpisodes</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.GetUserEpisodesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetUserEpisodes</servlet-name>
      <url-pattern>/GetUserEpisodes.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetUserEpisodesQueued</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.GetUserEpisodesQueuedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetUserEpisodesQueued</servlet-name>
      <url-pattern>/GetUserEpisodesQueued.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetUserEpisodesSchedule</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.GetUserEpisodesScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetUserEpisodesSchedule</servlet-name>
      <url-pattern>/GetUserEpisodesSchedule.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>InsertProgram</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.InsertProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>InsertProgram</servlet-name>
      <url-pattern>/InsertProgram.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Register</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Register</servlet-name>
      <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>SetUserEpisodes</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.SetUserEpisodesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>SetUserEpisodes</servlet-name>
      <url-pattern>/SetUserEpisodes.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>SetUserPrograms</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.SetUserProgramsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>SetUserPrograms</servlet-name>
      <url-pattern>/SetUserPrograms.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>SetUserSettings</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.SetUserSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>SetUserSettings</servlet-name>
      <url-pattern>/SetUserSettings.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>  
  <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>UpdateProgram</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.UpdateProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>UpdateProgram</servlet-name>
      <url-pattern>/UpdateProgram.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>UpdateUser</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>UpdateUser</servlet-name>
      <url-pattern>/UpdateUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>SearchEpisodes</servlet-name>
      <servlet-class>net.six_two.program_guide.servlets.SearchEpisodesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>SearchEpisodes</servlet-name>
      <url-pattern>/SearchEpisodes.do</url-pattern>
  </servlet-mapping>
</web-app>
