body {
    margin: 0;
}

#header {
    font-size: 200%;
    background-color: #000000;
    color: #83ADC4;
    font-family: georgia, serif;
    padding: 13px 13px 13px 13px;
    text-align: left;
}

#subheader {
    font-size: 90%;
    background-color: #2E383E;
    color: #4CB2EA;
    font-style: italic;
    padding: 5px;
}

#menu {
    font-size: 11px;
    background-color: #FFFFFF;
    list-style: none;
    padding-left: 13px;
    margin: 0;
    text-align: left;
}

#menu li {
	background-color: #2E383E;
    color: #4CB2EA;
    padding: 0px;
    margin: 0;
    display: inline;
    border: 3px solid #000000;
}

#menu li a {
    color: #4CB2EA;
    text-decoration: none;
}

.content {
    width: auto;
    align: center;
    margin: 10px 0 10px 10px;
}

.data {
    background-color: #1A597C;
    border-collapse: separate;
    border: 3px solid #000000;
}

.rowheader {
    background: #000000;
    border: 1px solid #1A597C;
    color: #83ADC4;
    font-family: georgia, serif;
    font-size: 12px;
    padding: 3px;
    vertical-align: middle;
    white-space: nowrap;
}

.rowdata {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 11px;
    padding: 3px;
    vertical-align: middle;
    white-space: nowrap;
}

.rowdatacenter {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 11px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
 }

a.rowdatacenter, a.rowdata {
    border: none;
    background: transparent;
    padding: 0;
}

.none {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 11px;
    padding: 3px;
    vertical-align: middle;
    white-space: nowrap;
}

/* Used with centertable for craptastic IE. */
.center {
    text-align: center;
}

.centertable {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.error {
    text-align: center;
    font-weight: bold;
    font-family: georgia, serif;
    background-color: transparent;
    color: red;
}

a.generic {
    background-color: transparent;
    color: #000000;
}

h2 {
    font-family: georgia, serif;
}

h3 {
	font-family: monospace;
}

#footerlist {
    font-size: 11px;
    background-color: #2E383E;
    list-style: none;
    padding: 4px;
    margin: 0;
    text-align: right;
}

#footerlist li {
    color: #4CB2EA;
    padding: 0 1em 0 1em;
    display: inline;
    border-left: 1px solid #4CB2EA;
}

#footerlist li a {
    color: #4CB2EA;
    text-decoration: none;
}

.log {
    font-family: monospace;
    font-size: 9px;
}

.today {
    background: #FFFF00;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 3px;
    vertical-align: top;
    white-space: nowrap;
    width: 80px;
    height: 80px;
}

.nullcalendarentry {
    background: #1A597C;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 3px;
    vertical-align: top;
    white-space: nowrap;
    width: 85px;
    height: 85px;
}

.calendarentry {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 85px;
    height: 85px;
}

.calendarentrylink {
    background: transparent;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    white-space: nowrap;
}

.calendardate {
    text-align: right;
    padding: 0;
}

.calendarepisode {
    text-align: left;
    padding: 0;
}

a.calendarentry {
    border: none;
    background: transparent;
}

.calendarlinkleft {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-align: left;
}

.calendarlinkright {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-align: right;
}

.status {
    font-family: georgia, serif;
}

.pagedLink {
    color: #000000;
    text-decoration: underline;
}

.currentPage {
}
