#menu {
    border-bottom: 1px solid #000000;
    margin: 10px 0 0 0;
    padding-bottom: 19px;
    padding-left: 13px;
}

#menu ul, #menu li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}

	
#menu a:link, #menu a:visited	{
	background : #E8EBF0;
	border : 1px solid #ccc;
	color : #666;
	float : left;
	font-size : small;
	font-weight : normal;
	line-height : 14px;
	margin-right : 8px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}

#menu a:link.active, #menu a:visited.active	{
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}

#menu a:hover	{
	color : #f00;
}

	
body.section-1 #menu li#nav-1 a, 
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a,
body.section-5 #menu li#nav-5 a,
body.section-6 #menu li#nav-6 a,
body.section-7 #menu li#nav-7 a {
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}

#menu #subnav-1,
#menu #subnav-2,
#menu #subnav-3,
#menu #subnav-4,
#menu #subnav-5,
#menu #subnav-6,
#menu #subnav-7 {
	display : none;
	width: 90%;
}

body.section-1 #menu ul#subnav-1, 
body.section-2 #menu ul#subnav-2,
body.section-3 #menu ul#subnav-3,
body.section-4 #menu ul#subnav-4,
body.section-5 #menu ul#subnav-5,
body.section-6 #menu ul#subnav-6,
body.section-7 #menu ul#subnav-7 {
	display : inline;
	left : 10px;
	position : absolute;
	top : 95px;
}

body.section-1 #menu ul#subnav-1 a, 
body.section-2 #menu ul#subnav-2 a,
body.section-3 #menu ul#subnav-3 a,
body.section-4 #menu ul#subnav-4 a,
body.section-5 #menu ul#subnav-5 a,
body.section-6 #menu ul#subnav-6 a,
body.section-7 #menu ul#subnav-7 a {
	background : #fff;
	border : none;
	border-left : 1px solid #ccc;
	color : #999;
	font-size : smaller;
	font-weight : bold;
	line-height : 10px;
	margin-right : 4px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}

 #menu ul a:hover {
	color : #f00 !important;
}

body {
    margin: 0;
}

#header {
    font-size: 200%;
    background-color: #000000;
    color: #83ADC4;
    font-family: georgia, serif;
    padding: 13px 13px 13px 13px;
    text-align: left;
}

.content {
    width: auto;
    align: center;
    margin: 10px 0 10px 13px;
}

.data {
    background-color: #1A597C;
    border-collapse: separate;
    border: 3px solid #000000;
}

.rowheader {
    background: #000000;
    border: 1px solid #1A597C;
    color: #83ADC4;
    font-family: georgia, serif;
    font-size: 12px;
    padding: 3px;
    vertical-align: middle;
    white-space: nowrap;
}

.rowdata {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 11px;
    padding: 3px;
    vertical-align: middle;
    white-space: nowrap;
}

.rowdatacenter {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 11px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
 }

a.rowdatacenter, a.rowdata {
    border: none;
    background: transparent;
    padding: 0;
}

.none {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 11px;
    padding: 3px;
    vertical-align: middle;
    white-space: nowrap;
}

/* Used with centertable for craptastic IE. */
.center {
    text-align: center;
}

.centertable {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.error {
    text-align: center;
    font-weight: bold;
    font-family: georgia, serif;
    background-color: transparent;
    color: red;
}

a.generic {
    background-color: transparent;
    color: #000000;
}

h2 {
    font-family: georgia, serif;
}

h3 {
	font-family: monospace;
}

#footerlist {
    font-size: 11px;
    background-color: #2E383E;
    list-style: none;
    padding: 4px;
    margin: 0;
    text-align: right;
}

#footerlist li {
    color: #4CB2EA;
    padding: 0 1em 0 1em;
    display: inline;
    border-left: 1px solid #4CB2EA;
}

#footerlist li a {
    color: #4CB2EA;
    text-decoration: none;
}

.log {
    font-family: monospace;
    font-size: 9px;
}

.today {
    background: #FFFF00;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 3px;
    vertical-align: top;
    white-space: nowrap;
    width: 80px;
    height: 80px;
}

.nullcalendarentry {
    background: #1A597C;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 3px;
    vertical-align: top;
    white-space: nowrap;
    width: 85px;
    height: 85px;
}

.calendarentry {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 85px;
    height: 85px;
}

.calendarentrylink {
    background: transparent;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    white-space: nowrap;
}

.calendardate {
    text-align: right;
    padding: 0;
}

.calendarepisode {
    text-align: left;
    padding: 0;
}

a.calendarentry {
    border: none;
    background: transparent;
}

.calendarlinkleft {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-align: left;
}

.calendarlinkright {
    background: #FFFFFF;
    border: 1px solid #2E383E;
    color: #000000;
    font-family: georgia, serif;
    font-size: 10px;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-align: right;
}

.status {
    font-family: georgia, serif;
}

.pagedLink {
    color: #000000;
    text-decoration: underline;
}

.currentPage {
}
